<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MTG</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{/js/jquery-1.9.1.min.js}" />
    <script th:src="@{/js/bootstrap.min.js}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/mtg.css}" />
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://localhost:8080/mtg">Card Catalogue</a></li>
                <li><a href="http://localhost:8082/collection">My Awesome Collection</a></li>
                <li><a href="http://localhost:8083/price">Price updater</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid top-container">
    <div class="row pagination-row">
        <div class="col-md-3">
            <form action="#" th:action="@{/mtg}" method="post">
                <div class="input-group">
                    <input type="text" th:value="${searchBy}" name="s" class="form-control" placeholder="Search for..."/>
                  <span class="input-group-btn">
                    <input class="form-control" type="submit" value="Go!"/>
                  </span>
                </div>
            </form>
        </div>
        <div class="col-md-8 col-md-offset-1">
            <ul th:if="${#lists.size(pages) > 1}" class="pagination pagination-collapse pull-right">
                <li th:each="page : ${pages}" th:class="${page.number==activePage}? active">
                    <a th:href="${page.href}">
                        <span th:if="${!page.jumpLeftPage and !page.jumpRightPage}" th:text="${page.number + 1}"/>
                        <span th:if="${page.jumpLeftPage}" aria-hidden="true">&laquo;</span>
                        <span th:if="${page.jumpRightPage}" aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <i th:each="card, status : ${cards}" th:remove="tag">
        <div class="col-md-2">
            <a th:href="@{/mtg/{id}(id=${card.id})}">
                <div class="panel panel-default">
                    <div class="panel-heading" th:text="${card.name}"/>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td>Type</td>
                                <td th:text="${#strings.listJoin(card.types, ', ')}"/>
                            </tr>
                            <tr>
                                <td>Cost</td>
                                <td th:text="${card.cost}"/>
                            </tr>
                            <tr>
                                <td>Cost Tmp</td>
                                <td><div style="height: 20px; width: 20px;" class="icon_mountain"></div></td>
                            </tr>
                            <tr>
                                <td>Color</td>
                                <td th:text="${#strings.listJoin(card.colors, ', ')}"/>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td th:text="${card.editions[0].price}"/>
                            </tr>
                            <tr>
                                <td colspan="2">
                                   <img th:src="${imageHost} + ${card.editions[0].image_url}" width="223" height="311" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </a>
        </div>
    </i>
</div>
</body>
</html>